__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
*.eggs
*.egg-info/
dist/
build/
*.log
.pytest_cache/
.coverage
htmlcov/
instance/
.webassets-cache
migrations/versions/*.pyc
uploads/*
!uploads/.gitkeep
